.sidebar {
  &__wrapper {
    @apply h-screen w-72;
    padding: 30px 10px 10px 10px;
  }

  &__logo {
    @apply flex items-center mb-5; 
  }

  &__search {
    @apply flex p-2 rounded border border-solid mb-5;
    input {
      @apply outline-none;
    }
  }

  &__list {
    @apply flex flex-col;
    ul {
      @apply p-0 overflow-scroll;
    }

    li {
      @apply flex content-center list-none p-2 font-medium text-gray-700 hover:bg-gray-100;
    }
    
    span {
      @apply ml-5;
    }
    &-ul {
      @apply mt-5;
    }

    &-li {
      background: var(--background);
    }
    &-dash {
      @apply flex justify-between w-full items-baseline;
    }
    &-count{
      @apply flex;
      border-radius: 50%;
      padding: 2px 10px 2px 10px;
      background-color: var(--number);
    }
  }

  &__card {
    @apply mb-5 mt-5 p-3;
    background: var(--background2);
    &-image {
      @apply w-64;
    } 
    img {
      @apply object-contain w-full;
    }
    &-new {
      @apply flex;
      p:nth-child(1) {
        @apply mr-4;
      }

      p:nth-child(2) {
        @apply font-medium;
        color: var(--card4);
      }
    }
  }

  &__exit {
    @apply flex items-center justify-between mt-8;
    p {
      @apply p-0 m-0;
    }
  }

  @media screen and (max-width: 1165px) {
    &__wrapper {
      @apply hidden;
    }
    &__logo {
      @apply bg-white;
    }
  }
}